
<h2 class="title is-size-3"><%= @team.class.name %></h2>
<h2 class="title is-size-4"><%= @team.name %></h2>
<h2 class="subtitle is-size-6"><%= @team.battleground.name %> Battleground</h2>
<h3 class="subtitle is-size-5 is-italic"><%= @team.quote %></h3>
<hr/>
<h3 class="subtitle is-size-5 is-spaced"><strong>List of Players: </strong></h3>

  <% @team.players.each do |player| %>
    <h4 class="title is-size-5" ><%= link_to player.name, player %></h4>
    <h4 class="subtitle is-size-6 is-spaced">Specialty: <%= player.specialty %></h4>
  <% end %>

