<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section is hero is-small is-dark is-bold">
    <div class="container">
      <h1 class="title is-2">Magic Realm Tournament</h1>
        <nav class= "navbar" role="navigation" aria-label="main navigation">
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item">
                  <%= link_to 'Home', root_path %>
              </a>
              <a class="navbar-item">
                  <%= link_to 'Teams', teams_path %>
              </a>
              <a class="navbar-item">
                <%= link_to 'Players', players_path %>
              </a>

          </nav>

  </section>

    <div class="container">
      <section class= "section">
        <%= form_tag(search_results_path, method: "get") do %>
            <%= label_tag(:q, "Search for:") %>
            <%= text_field_tag(:query) %>
            <%= submit_tag("Search") %>
        <% end %>


 <section class= "section">
    <%= yield %>
</section>
  </body>
</html>