<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <h1>Magic Realm Tournament</h1>
            <nav>
              <ul>
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'Teams', teams_path %></li>
                <li><%= link_to 'Players', players_path %></li>
              </ul>
          </nav>


            <%= form_tag(search_results_path, method: "get") do %>
            <%= label_tag(:q, "Search for:") %>
            <%= text_field_tag(:query) %>
            <%= submit_tag("Search") %>
            <% end %>

    <%= yield %>
  </body>
</html>
