<h2 class="title is-size-3"><%= @battleground.name %></h2>
<h3 class="subtitle is-size-6"><%= @battleground.class.name %></h3>
<hr/>

  <h3 class= "subtitle is-size-5"><strong>Current Top Teams:</strong></h3>

    <ol>
      <% @battleground.teams.each do |team| %>
        <li class="title is-size-5 is-spaced"><%= link_to team.name, team %></li>
        <h4 class="subtitle is-size-6">Players:</h4>
              <ul class="subtitle is-size-6 is-spaced">
                <% team.players.each do |player| %>
                <h4><%= link_to player.name, player %></h4>
              <% end %>
              </ul>
      <% end %>
    </ol>

<p><%= link_to 'Back', battlegrounds_path %></p>